.main-img {
    height: 100px;
    width: auto;
    border-radius: 20%;
    cursor: pointer;
}

.main-text {
    display: block;
}

.sub-text {
    display: block;
}

.main-title {
    font-size: 30px;
    font-weight: bold;
}